<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>聊天室</title>
    <link rel="stylesheet" href="../css/layui.css" media="all"/>
</head>
<body>
<script type="text/javascript" src="../layui.js" ></script>
<script type="text/javascript">
    layui.use('layim', function(layim){
        //先来个客服模式压压精
        layim.config({
            brief: false, //是否简约模式（如果true则不显示主面板）
            title: "穷的很稳定",
            min: false,
            isAudio: true,
            isVideo: true,
            notice: true,
            skin:[
                'http://img.zcool.cn/community/0389822590d681ba801214550b3e12a.jpg',
                'http://g.hiphotos.baidu.com/zhidao/pic/item/6a600c338744ebf814066acedbf9d72a6159a7cf.jpg'
            ],
            //获取主面板列表信息
            init: {
                url: 'all/100000' //接口地址（返回的数据格式见下文）
                ,type: 'get' //默认get，一般可不填
                ,data: {} //额外参数
            }
        });
    });
</script>
</body>
</html>